
body{
    background-color: #1a1a1a;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    color: white;
}
header h2{
    font-size: 30px;
}


.headicons i{
    margin: 0px 30px;
}

.carousel-item{
    height: 750px;
}

.carousel-item h2, .carousel-item p{
    color: white;
}

.carousel-item p span{
    text-decoration:line-through;
    color:gray
}

.carousel-item button{
    background-color: red;
    color: white;
    border: none;
}

.carousel-item img{
    height: 650px;
    margin: auto 60%;
}
.carousel-item .productdetails {
    width: 500px;
    position: relative;
    bottom: 500px;
    left: 200px;
    
}

.carousel-item .productdetails h2{
    font-size: 50px
}
.carousel-item .productdetails p{
    font-size: 25px;
}
.carousel-item .productdetails button{
    font-size: 20px;
    
    padding: 10px 20px;
}
.carousel-item .productdetails h2+p{
    margin: 40px auto;
}


.featuredproducts h2{
    text-align: center;
    margin: 50px auto;
}

.carousel-track .product-card img{
    height: 200px;
    width: 200px;
}


.carousel-track{
    display: flex;
    justify-content: space-between;
    margin: auto 80px;
}

.carousel-track .product-card{
    text-align: center;
}

.product-card p{
    font-size: 25px;
    margin: 45px auto;
}
.product-card p span{
    font-size: 20px;
    color: gray;
    text-decoration: line-through;
}
.topproducts h2{
    text-align: center;
    margin: 50px auto;
}

.topproducts .header button{
    border: none;
    background-color: #1a1a1a;
    color: white;
    font-size: 27px;
    font-weight: lighter;
}
.topproducts .header{
    display: flex;
    justify-content: space-around;
    margin: 50px 450px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;

    
}
.card{
   
    margin: 8px auto;
    background-color: #1a1a1a;
    padding:  40px;
    background-color: rgb(43, 42, 42)

}

.card img{
    width: 300px;
    height: 300px;
    margin: auto 30px;
}

.card i{
    color: red;
}

.card button{
    width: 100%;
    background-color: red;
    color: white;
    height: 60px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    
}

.card h3{
    font-size: 40px;
}

.card p{
    font-size: 40px;
}

.card p span{
    font-size: 30px;
    text-decoration: line-through;
    color: gray;
}

.card:last-child{
    width: 442px;
    
}
.card:last-child p{
    margin:60% auto;
}
.card h3+p{
    font-size: 20px;
}
.advantages h2{
    margin:150px auto;
    text-align: center;
}
.advlists{
    display: flex;
    justify-content: space-between;
    margin:auto 60px;
}
.footersection{
    display: flex;
    justify-content: space-between;
   
}
footer{
    margin:130px auto;
    background-color: black;
    

}

footer .subscription{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 25px 40px;
}
footer .subscription input{
    display:inline-block;
    width: 100%;
    margin: 10px;
    height: 40px;
    background-color: black;
    border: 1px solid gray;
    border-radius: 5px;
    
}
footer ul li{
    list-style: none;
    margin: 15px auto;
}

footer ul{
    padding: 25px 40px;
}

footer ul h5{
     margin: 25px auto;

}

.footersection .subscription button{
    background-color: red;
    color: white;
    width: 180px;
    margin: 10px;
    border: none;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}
.socialmedia-accounts{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    align-self: center;
    
}

.socialmedia-accounts .icons i{
    margin: 0px 10px;
}

.product .imgviews img{
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
}
.product .imgviews{
    display: flex;
    flex-direction: column;
}

.product{
    display: flex;
    margin: 10px;
}
.product .product-img img{
    height: 1000px;
    width: 1000px;
}
.product .product-inf{
    width: 800px;
}
.product .product-inf h3{
    font-size: 50px;
    margin: 5px auto;
    
}
.product .product-inf p{
    font-size: 30px;
    margin: 5px;
    
    
}

.product-inf i{
    margin: 30px 0;
    color: red;

}

.product-inf hr{
    height: 1px;
    margin: 40px auto;
    border: none;
    background-color: gray;
}
.product .product-inf h4{
    font-size: 50px;
    margin: 20px auto;

}
.product .product-inf h4 span{
    font-size: 30px;
    color: gray;
    text-decoration: line-through;
}
.product .product-inf h4+p{
    color: green;
}
.product-inf p+p{
    font-size: 20px;
    color: gray;
}
.product-inf hr+p{
    margin: 20px auto;
}
.product-inf div{
    font-size: 20px;
    border: 1px solid gray;
}
.product-inf button{
    width: 250px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}
.headbuttons{
    display: flex;
    margin: auto 800px;
    justify-content: space-between;
}



.modal:target {
  display: block;
}


.modal-content {
  background-color: #1e1e1e;
  margin: 10% auto;
  padding: 20px;
  width: 600px;
  color: white;
  border-radius: 8px;
  position: relative;
}
.modal-content h2{
    text-align: left;
    margin: 10px 0;

}


.modal .close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  color: white;
  text-decoration: none;
}


.modal-content form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
  background-color: #1e1e1e;
}

.modal-content form>button{
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.orsection {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
.orsection hr {
  flex: 1;
  border: 0.5px solid #444;
}
.or-section span {
  padding: 0 10px;
  font-size: 14px;
  color: #aaa;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
}
.social-buttons button {
  
  margin: 5px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  
}
.facebook { background-color: #3b5998; }
.google   { background-color: #db4437; }
.twitter  { background-color: #1da1f2; }

.cartitems{
    overflow-y: scroll;
    height: 600px;
    width: 1100px;
    margin: 40px;
    background-color: #222121;
}
.cartitems img{
    height: 200px;
    width: 200px;
}
.cartitems .item{
    display: flex;
    
    justify-content: space-around;
     margin:50px;

}

.cartitems::-webkit-scrollbar-track{
  background-color: #888; 
  border-radius: 10px;
}
.quantity-selector {
  display: inline-flex;
  align-items: center;
  background-color: #1e1e1e;  
  border-radius: 5px;
  padding: 5px 10px;
  gap: 10px;
}

.qty-btn {
  background-color: transparent;
  color: #ccc;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.2s;
}


.qty-number {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

main{
    display: flex;
    
}
.ordersummary{
    margin: 0 40px;
}
    
.pricesummary{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.ordersummary h3{
    margin: 50px;

}
.pricesummary ul li{
    margin: 20px 0;
    list-style: none;
    font-size: 20px;
    
}
.pricesummary .price li{
    margin-left: 400px;

}
.pricesummary ul{
    padding: 0;
    margin: 0;
}
.totalprice{
    display: flex;
    justify-content: space-between;
}
.ordersummary hr{
    margin: 0;

}

.ordersummary button{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
}